#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#btn {
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 auto;
  // background: rgba(50, 149, 224, 0.5);  // rocket 蓝天背景
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
  &:active::before {
    transform-origin: center;
    animation: ripple 0.6s ease-out;
    background: rgba(95, 94, 94, 0.2); // ripple背景
  }
}

.rocket-fly {
  animation: fly 1s;
  animation-timing-function: cubic-bezier(0.88, -0.08, 0.85, -0.59);
}

@media only screen and (max-width: 750px) {
  #header {
    background-color: yellow;
    display: flex;
    flex-direction: column;
  }
  .title {
    order: -1;
  }
}

@keyframes fly {
  from {
    transform: translateY(-20px);
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
    transform: translateY(-1000px);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}
